<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ActivosFijos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ActivosFijos.Properties.Settings.ActivosFijosConnectionString" connectionString="Data Source=\\\\localhost\\DataBases\\DataSQLite\\ActivosFijos.s3db;Version=3" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <ActivosFijos.Properties.Settings>
            <setting name="RutaDelArchivo" serializeAs="String">
                <value>\\localhost\DataBases\DataSQLite\FotosAF\</value>
            </setting>
        </ActivosFijos.Properties.Settings>
    </applicationSettings>
</configuration>
